<footer class="footer">
    <div class="footer-container">
        <div class="contact-info" id="contact-info">
            <!-- Thông tin liên lạc từ info.json sẽ được thêm bằng JS -->
        </div>
        <div class="view-counter">
            <span>Lượt xem: </span>
            <div align="center">
                <a href='https://www.counter12.com'>
                    <img src='https://www.counter12.com/img-YzzdZDd05dDA2Dd5-3.gif' border='0' alt='free web counter'>
                </a>
                <script type='text/javascript' src='https://www.counter12.com/ad.js?id=YzzdZDd05dDA2Dd5'></script>
            </div>
        </div>
    </div>
</footer>